*{
  box-sizing: border-box;
}

html,body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 65%;
}


.mainBody{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../public/img/bg_img_dark.jpg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 560px) {
  html,body{
    font-size: 50%;
  }

  .mainBody {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  /* .mainbox{
    
  } */
}
  