
.Flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55rem;
    margin-top: 4rem;
}

.middleBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40rem;
    background-color: #25273c;
    margin-top: 1.8rem;
    position: relative;
    overflow: hidden;
    
    /* flexDirection: "column",
          width: "100%",
          height: "40rem",
          backgroundColor: "#25273c",
          // backgroundColor: "green",
          marginTop: "1.8rem",
          // alignItems: "flex-start", */
}

.middleBox > div:nth-child(1) {
    max-height: 36rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
}

.middleBox > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.headOne {
    color: white;
    letter-spacing: 1.50rem;
    font-size: 4rem;
}

.inputBox {
    width: 100%;
    background-color: #25273c;
    border: none;
    outline: none;
    color: lightgray;
    font-size: 1.5rem;
}

.round {
  /* display: flex; */
  width: 2.5rem;
  height: 2rem;
  background-image: linear-gradient(to bottom right, rgb(87, 209, 218), rgb(169, 89, 194));
  border-radius: 50%;
  margin-left: 2rem;
  /* border:1rem */
}

.roundPlane {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: solid;
    border-color: #484a5f;
    border-width: 0.15rem;
    
}

.roundPlane:hover {
    width: 1.8rem;
    height: 1.8rem;
    background: linear-gradient(rgb(7, 5, 5), black) padding-box,
    linear-gradient(to bottom right, rgb(87, 209, 218), rgb(169, 89, 194)) border-box;
    border-radius: 50%;
    border: 0.15rem solid transparent;
    /* border-color: rgb(21, 21, 201); */
    /* border-color: linear-gradient(to bottom right, rgb(87, 209, 218), rgb(169, 89, 194)); */
}

.roundPlane1 {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: solid;
    border-color: #484a5f;
    border-width: 0.15rem;
}

.roundPlane1:hover {
    width: 1.8rem;
    height: 1.8rem;
    background: linear-gradient(rgb(255, 255, 255), white) padding-box,
    linear-gradient(to bottom right, rgb(87, 209, 218), rgb(169, 89, 194)) border-box;
    border-radius: 50%;
    border: 0.15rem solid transparent;
    /* border-color: rgb(21, 21, 201); */
    /* border-color: linear-gradient(to bottom right, rgb(87, 209, 218), rgb(169, 89, 194)); */
}

.todoList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todoList:hover .todoBox {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url("../public/img/icon-cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.0rem;
    background-color: #25273c;
    border: none;
    
    /* color: lightgray; */
    /* background-repeat: no-repeat; */
}
/* .myDIV:hover + .hide */
.lef{
    width: 100%;
}

.lef:hover > div {
    background-color: aqua;
}

.statbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    color: #595a77;
    border-top: 0.05rem solid;
    flex-wrap: wrap;
    border-color: "#484a5f";
    font-size: 1.5rem;
}

.statbox > div {
    padding: 2rem;
}

.statbox > div:nth-child(2){
    display: flex;
    flex-direction: row;
    gap : 1rem;
}

.mbox > div:hover {
    color: white;
}

.mbox1 > div:hover {
    color: rgb(62, 65, 226);
}

.lbox:hover{
    color: white;
}

.lbox1:hover{
    color: rgb(62, 65, 226);
}




@media screen and (max-width: 560px) {
    .statbox > div:nth-child(2) {
        display: none;
    }

    .newBox {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        font-size: 2rem;
        gap: 2rem;
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .newBox > div:hover {
        color: white
    }

    .newBox1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        font-size: 2rem;
        gap: 2rem;
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .newBox1 > div:hover {
        color: rgb(62, 65, 226);
    }
}

@media screen and (min-width: 560px) {
    .newBox {
        display: none;
    }
}